/**
* Full width dropdown UrlBar for Firefox 77.
*/

/**
* Disable megabar.
*/
#urlbar[breakout][breakout-extend] {
  top: 5px !important;
  left: 0px !important;
  width: 100% !important;
  padding: 0px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}

#urlbar-results {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/**
* Set dropdown width to 100%.
*/

:root {

  --urlbar-dropdown-top: 78px;

   /* An optional one */
  /* Set this if #nav-bar toolbarspring is not disabled */
  /* --base-urlbar-padding: 200px; */
  --base-urlbar-padding: 134px;

}

.urlbarView {
  position: fixed!important;
  z-index: 3;
  left: -6px;
  top: var(--urlbar-dropdown-top);
  background: var(--autocomplete-popup-background);
  color: var(--autocomplete-popup-color);
  border-block: 1px solid var(--chrome-content-separator-color);
  box-shadow: 0 5px 18px rgba(0, 0, 0, .2);
  width: calc(100% - 1px)!important;
}

.urlbarView-body-inner {
  border-top: 0px !important;
}

.urlbarView-row-inner {
  padding-left: calc(var(--base-urlbar-padding) + 8px)!important;
  padding-right: calc(var(--base-urlbar-padding) + 8px)!important;
}

.search-one-offs {
  padding-left: var(--base-urlbar-padding)!important;
  padding-right: var(--base-urlbar-padding)!important;
}

/**
* Optionally disables toolbar left and right whitespace gaps.
*/
/* #nav-bar toolbarspring {
  display: none;
} */